  <div class='jumbotron'>
    <h1>WaKokuJT <small>和国辞典</small></h1>
    <h2>
      Welcome to WaKoku.eu
    </h2>
  </div>
  <div class='row'>
    <form>
      <div class='col-lg-6 col-lg-offset-3'>
        <div class="input-group">
          <input type="text" class="form-control" autocomplete='off', autofocus>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Suchen!</button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
      <p>
      WakoKu.eu is an online dictionary of archaeological terms in Japanese, German and English. It is hoped that in future other languages will be added.
      </p>
      <p>
      The site is named after the ancient name for Japan (<em>Wa</em> 和) and archaeology (<em>kokogaku</em> 考古学).
      </p>
      <p>
      The dictionary database was compiled by Werner Steinhaus with the support of Simon Kaner, based on the <em>Japanese-German Archaeological Dictionary</em> published by Werner Steinhaus as an on-demand inprint in 2010 (add URL).
      </p>
      <p>
      This site is supported by the Sainsbury Institute for the Study of Japanese Arts and Cultures and hosted by Tübingen University.
      </p>
      <p>
      WaKoku.eu is a project of the WaDoku Japanese-German online dictionary which provided the basic framework and technical support, overseen by Dr Ulrich Apel. The databases behind WaKoku.eu are interlinked to the overall WaDoku site. 
      </p>
    </div>
  </div>
