  <div class='jumbotron'>
    <h1>WaKokuJT <small>和古辞典</small></h1>
  </div>
  <div class='row'>
    <form>
      <div class='col-lg-6 col-lg-offset-3'>
        <div class="input-group">
          <input type="text" class="form-control" autocomplete='off', autofocus>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Suchen!</button>
          </span>
        </div>
      </div>
    </form>
  </div>
