<footer class="footer">
  <p>Data: &copy; <%= Time.now.year %> <a href="http://wadoku-ev.de">Wadoku e.V.</a> | Programming: &copy; <%= Time.now.year %> <a href="https://github.com/thebluber">Jiayi Zheng</a></p>
  <%= t("footer_html") %>
</footer>
